{% extends "base.html" %}

<title>{% block title %}Reaction calculator{% endblock %}</title>

{% block content %}
    <h1>Reaction calculator</h1>
    Please chose which inputs you want to use
    <div class="d-grid gap-2 d-md-block">
    <a class="btn btn-dark" href="/prodcalc" role="button" aria-disabled="true">Calculation with products and reactants</a>
    <a class="btn btn-dark" href="/listcalc" role="button" aria-disabled="true">Calculation with species list</a>
    </div>
{% endblock %}