{% extends "base.html" %} <title>{% block title %}Calculation with products and reactant{% endblock %}</title>

{% block content %}
    <h1>Calculation with products and reactants</h1>
    Please enter the products and reactants
    <br />
    <form method="POST">
    <h3>Products</h3>
     <textarea name="products" id="products" class="form-control" placeholder="Enter products here">{{ products }}</textarea>
        <br />
        <h3>Reactants</h3>
        <textarea name="reactants" id="reactants" class="form-control" placeholder="Enter reactants here">{{ reactants}}</textarea>
        <br />
        <div>
        <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>

    <br/>
    {% if not reactionMatrix == "none" %}
        <p>
        <button class="btn btn-outline-dark"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseReaction">
            Reactions
        </button>
        <button class="btn btn-outline-dark"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMatrix">
            Reaction matrix
        </button>
        </p>
        <div class="collapse show" id="collapseReaction">
            <div class="card card-body">
                <ul class="list-group list-group-flush">
                    {% for pair in formatedKeyMatrix %}
                        <li class="list-group-item">
                            {% for list in pair %}
                                {% for element in list %}
                                    {% if element == list|last and list == pair|last %}
                                        {{ element }}
                                    {% elif element == list|last %}
                                        {{ element }} &rarr;
                                    {% else %}
                                        {{ element }} &plus;
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="collapse" id="collapseMatrix">
            <div class="card card-body">
                <table class="table text-center">
                    <thead>
                    <tr>
                        {% for species in speciesList %}
                            <th scope="col">{{ species }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in reactionMatrix %}
                        <tr>
                            {% for number in row %}
                                <td>{{ number }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <form method="POST" action="/download">
            <button type="submit"
                    class="btn btn-dark">
                Download as Excel file
            </button>
            <textarea style="display: none" name="downloadSpeciesList" id="downloadSpeciesList"
                 >{{ speciesList }}</textarea>
            <textarea style="display: none" name="downloadReactionMatrix" id="downloadReactionMatrix"
                 >{{ reactionMatrixDownload }}</textarea>
        </form>
    {% endif %}
{% endblock %}